<div class="page" ng-controller="AppController">
  <div class="top_nav">
    <%=image_tag("icons/logo_home.png")%>
  </div>
  <div class="hero">
    <%=link_to image_tag("hero.png") , '' %>
  </div>

  <div class="form">

      <%= flash[:message] %>

      <%= simple_form_for(@gallery, :url => '', :method => :post) do |f|%>

      <p>
        <%=f.input :phone, :placeholder => '请输入您的手机号码', :label => false %>
      </p>

      <p>
        <span class="take_photo">拍照并点击上传</span>
        <%=f.input :photo , :input_html => { :capture => "camera", :accept => "image/*" , :style => "display: none" } , :label => false %>
      </p>


      <% end %>

  </div>


  <div class="bottom">
    <p>来宾分享了 <em style="font-family: Times;font-size: 36px;color: #F06199;font-weight: bold;"><%=@galleries.count%></em> 张照片</p>
    <p align="right"><%= link_to '浏览婚礼照片', cheerup_photos_path(@work.uuid) %></p>
  </div>


</div>

<script>
$(function(){
  $('.take_photo').on('click' , function() {

    $('input[type="file"]').click();

  });

  $("input:file").change(function (){
    $('form').submit();
  });

});
</script>

<style>
.page {
  padding: 0 10px;
}

.top_nav {
  width: 100%;
}

.hero {
  margin-top: 20px;
  text-align: center;
}

.form {
  margin: 50px 40px;
}

.form p {
  margin: 20px auto;
}

.form input[type="tel"] {
  display: block;
  width: 100%;
  border: 1px solid #F57494;
  background: #F8F6F6;
  box-shadow: none;
  margin: 20px 0;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.form button {
  display: block;
  color: #FFFFFF;
  width: 100%;
  padding: 0 20px;
  background: #694C80;
}

.form img {
  width: 100%;
}

.bottom {
  margin: 60px 40px;
}

.bottom p {
  font-size: 18px;
}

.uploadable {
    height: 100px;
    width: 100px;
    background: #EEE;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}

.dragover {
    border: 5px dashed blue;
}

.button {
    background: #EEE;
    padding: 10px;
    margin-bottom: 20px;
    height: 100px;
    width: 100%;
}

.take_photo {
    border-radius: 5px;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    background: #694C80;
}
</style>
