<%= simple_form_for(@work) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :work_title %>
    <%= f.input :user_id %>
    <%= f.input :work_description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
