<p id="notice"><%= notice %></p>

<h1>Listing Invite Letters</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Email list</th>
      <th>Email content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invite_letters.each do |invite_letter| %>
      <tr>
        <td><%= invite_letter.user_id %></td>
        <td><%= invite_letter.email_list %></td>
        <td><%= invite_letter.email_content %></td>
        <td><%= link_to 'Show', invite_letter %></td>
        <td><%= link_to 'Edit', edit_invite_letter_path(invite_letter) %></td>
        <td><%= link_to 'Destroy', invite_letter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invite letter', new_invite_letter_path %>
