<nav id="menu" class="box-panel-project" role="navigation" style="margin-top: 50px;">

  <p align="center">欢迎你, <%= current_user.nickname %></p>

  <table class="nav">
    <tr ui-sref="task">
      <td width="40px"><%=image_tag("icons/mytask.png")%></td>
      <td><a>婚礼任务</a></td>
    </tr>
    <tr ui-sref="calendar">
      <td><%=image_tag("icons/mycalendar.png")%></td>
      <td><a>小日历</a></td>
    </tr>
    <tr>
      <td><%=image_tag("icons/logout.png")%></td>
      <td><%= link_to('退出', destroy_user_session_path, :method => :delete) %></td>
    </tr>
    <!-- <tr>
      <td></td>
      <td><%= link_to("抽奖", cheerup_index_path(@work.uuid) )%></td>
    </tr>
    <tr>
      <td></td>
      <td><%= link_to("拍照活动", cheerup_join_path(@work.uuid) )%></td>
    </tr> -->

  </table>


</nav>


<style>
.nav a {
  display: block;
}
</style>
